@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Faustina', serif;
  background-color: #1EFFBC;
}

#quote-box {
  position: relative;
  width: 500px;
  height: auto;
  padding: 40px 50px;
  background-color:#fff;
  border-radius: 8px;
}

.quote-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
}

.quote-text span {
  padding-left: 3px;
  padding-right: 3px;
}

.footer {
  display: block;
  text-align: center;
  margin: 15px auto;
}
