@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'EB Garamond', serif;
  background-color: #1EFFBC;
}

#quote-box {
  position: relative;
  width: 500px;
  height: auto;
  padding: 40px 50px;
  background-color:#fff;
  border-radius: 8px;
}

.quote-text {
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
}

.quote-text i {
  font-size: 0.8em;
}

.quote-text span {
  padding-left: 6px;
  padding-right: 6px;
}

.quote-author {
  text-align: right;
  padding-top: 25px;
  font-size: 1.4em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 35px;
}

.button {
  height: 38px;
  background-color: #1EFFBC;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.fa-twitter {
  position: relative;
  bottom: -2px;
  padding: 6px 18px 6px 18px;
  font-size: 1.4em;
}

#new-quote {
  font-family: 'EB Garamond', serif;
  padding: 6px 18px 6px 18px;
  font-size: 1em;
  font-weight: 500;
}

.footer {
  display: block;
  text-align: center;
  margin: 15px auto;
  font-size: 0.9em;
}
